#
# This file is part of MiToBo, the Microscope Image Analysis Toolbox.
#
# Copyright (C) 2010 - @YEAR@
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Fore more information on MiToBo, visit
#
#    http://www.informatik.uni-halle.de/mitobo/
#


# Name: MiToBo

# Author: MiToBo developer team

Plugins>MiToBo, "MiToBo Runner", mitoboRunner.MiToBo_Runner
Plugins>MiToBo, "Grappa Editor", mitoboRunner.Grappa_Editor
Plugins>MiToBo, "Open Image MTB", mtb_io.Open_Image_MTB
Plugins>MiToBo, "Save Image MTB", mtb_io.Save_Image_MTB
Plugins>MiToBo, "MTB CellCounter", mtb_cellcounter.MTB_CellCounter
Plugins>MiToBo, "NeuronAnalyzer2D", mitoboRunner.NeuronAnalyzer2D_
Plugins>MiToBo, "PaCeQuant", mitoboRunner.PaCeQuant_
Plugins>MiToBo, "ScratchAssayAnalyzer", mitoboRunner.ScratchAssayAnalyzer_
Plugins>MiToBo, "Snake Optimizer", mitoboRunner.Snake_Optimizer
Plugins>MiToBo, "Threshold Image", mtb_segmentation.Threshold_Image
Plugins>MiToBo, "XylemDetector", mitoboRunner.Xylem_Detector

